body{
    background-color:green
}

H1{
    color: lightgreen
}
h1{
    border-style: solid;
    text-decoration: aliceblue;
    text-align: center;
    font-family: Impact;
    border-color:darkgreen;
    border-radius: 30px;
    background-color: darkgreen;
    border-top-color: lightgreen;
    border-left-color: lightgreen;
    border-bottom-color: black;
    border-right-color: black;
}

button{
    
    
    background-color: darkgreen;
    color: lightgreen;
}

img{
    background: none;
}